body {  
  background-color: #EFEFEF;  
  font-family: "Lucida Grande","Verdana","Arial","Bitstream Vera Sans",sans-serif;  
  font-size: 14px;  
}  
  
.header_wrapper {  
    width: 880px;  
    margin: 0 auto;  
    overflow:hidden;  
    padding:20px 0;  
}  
.logo a{  
    color: #338DCF;  
    float: left;  
    font-size: 48px;  
    font-weight: bold;  
    text-shadow: 2px 2px 2px #FFFFFF;  
    text-decoration:none;  
}  
#container {  
  width: 800px;  
  margin: 0 auto;  
  background-color: #FFF;  
  padding: 20px 40px;  
  border: solid 1px #BFBFBF;    
} 

#login_user_status {  
    float:rightright;      
}  

a img {
  border: none;
}

a {
  color: #0000FF;
}

.clear {
  clear: both;
  height: 0;
  overflow: hidden;
}

#flash_notice, #flash_error, #flash_alert {
  padding: 5px 8px;
  margin: 10px 0;
}

#flash_notice {
  background-color: #CFC;
  border: solid 1px #6C6;
}

#flash_error, #flash_alert {
  background-color: #FCC;
  border: solid 1px #C66;
}

.fieldWithErrors {
  display: inline;
}

.error_messages {
  width: 400px;
  border: 2px solid #CF0000;
  padding: 0px;
  padding-bottom: 12px;
  margin-bottom: 20px;
  background-color: #f0f0f0;
  font-size: 12px;
}

.error_messages h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 10px;
  font-size: 12px;
  margin: 0;
  background-color: #c00;
  color: #fff;
}

.error_messages p {
  margin: 8px 10px;
}

.error_messages ul {
  margin: 0;
}

.asset_list_header, .asset_list, .asset_details {  
    width:800px;  
    font-weight:bold;  
    font-size:12px;  
    overflow:hidden;  
  
}  
.file_name_header, .file_name {  
    width:350px;  
    float:left;  
    padding-left:20px;  
}  
.file_size_header, .file_size {  
    width:100px;  
    float:left;  
}  
.file_last_updated_header, .file_last_updated {  
    width:150px;  
    float:left;  
}  
.asset_list {  
    padding:20px 0;  
}  
.asset_details {  
    font-weight:normal;  
    height:25px;  
    line-height:25px;  
    border:1px solid #FFF;  
    width:790px;  
    color:#4F4F4F;  
}  
  
.asset_details a, .asset_details a:visited {  
    text-decoration:none;  
    color:#1D96EF;  
    font-size:12px;  
}  

#menu {  
    width:800px;  
    padding:0 20px;  
    margin:20px auto ;  
    overflow:hidden;  
}  
#menu ul{  
    padding:0;  
    margin:0;  
}  
#menu ul li {  
    list-style:none;  
    float:left;  
    display:block;  
    margin-right:10px;  
  
  
}  
#menu ul li a, #menu ul li a:visited{  
    display:block;  
    padding:0 15px;  
    line-height:25px;  
    text-decoration:none;  
    color:#45759F;  
    background:#EFF8FF;  
    border:1px solid #CFEBFF;  
}  
#menu ul li a:hover, #menu ul li a:active{  
    background:#DFF1FF;  
    border:1px solid #AFDDFF;  
}  